<?xml version="1.0"?>
<!-- This example uses predefined waypoint locations. -->
<launch>

  <!-- Creates a Jackal in Gazebo. -->
  <include file="$(find my_jackal_gazebo)/launch/one_jackal.launch"/>
  
  <!-- Launch waypoint following. Each waypoint is position (x, y, z) followed 
       by orientation (x, y, z, w). Whether orientation is actually used or not
       is defined by move_base. The frame of the 'waypoints' parameter is given
       by the 'waypoints_frame' parameter. -->
  <node ns="jackal0" pkg="waypoint_follower" type="waypoint_follower_node" name="waypoint_follower" output="screen">
    <rosparam param="waypoints">[1.0,   0, 0,   0, 0, 0, 1,
                                <!-- 4.0, 4.0, 0,   0, 0, 0, 1, 
                                 5.0, 0.0, 0,   0, 0, 0, 1, 
                                -2.0,-2.0, 0,   0, 0, 0, 1,
                                -4.0, 4.0, 0,   0, 0, 0, 1, 
                                -3.0,-3.0, 0,   0, 0, 0, 1-->]</rosparam>
    <param name="waypoints_frame" value="map"/>
    <param name="odom_frame"      value="jackal0/odom"/>
  </node>
                                       
  <!-- Display on RVIZ. -->
  <group if="true">
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find waypoint_follower_tutorials)/config/rviz2.rviz">
    </node>
  </group>  
  
</launch>
