<?xml version="1.0"?>
<!-- Creates a Jackal in Gazebo, then sends it to user specified waypoints using
     RVIZ.
     Before doing this, make sure you have installed the multi-jackal package
     and can successfully launch 'one_jackal'. 
     It's possible that RVIZ or Gazebo will fail to launch when using slow 
     computers. 
     
     We'll send waypoints from RVIZ in the map frame. These waypoints will be
     stored in the map frame until needing to be executed, where they will be
     converted to the odom frame for move_base.-->
<launch>
  <!-- Creates a Jackal in Gazebo, as well as all the necessary control and
       navigation. Default namespace is 'jackal0'. -->
  <include file="$(find multi_jackal_tutorials)/launch/one_jackal.launch"/>
  
  <!-- Launch waypoint following. -->
  <node ns="jackal0" pkg="waypoint_follower" type="waypoint_follower_node" name="waypoint_follower" output="screen">
    <param name="odom_frame"         value="jackal0/odom"/>
    <param name="baselink_frame"     value="jackal0/base_link"/>
    <param name="rviz_frame"         value="map"/>
  </node>
  
  <!-- Display on RVIZ. This will display where the Jackal thinks it is. To see
       where it really is, run 'gzclient' in a new tab. -->
  <group if="true">
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find waypoint_follower_tutorials)/config/rviz2.rviz">
      <remap from="move_base_simple/goal" to="/jackal0/add_waypoint"/>
    </node>
  </group>  
  
</launch>
