<?xml version="1.0"?>
<!-- This is an example of adding waypoints in the odom frame using RVIZ.

     In RVIZ, use the '2D Nav Goal' to provide waypoints. -->
<launch>

  <!-- Launch waypoint following. -->
  <node pkg="waypoint_follower" type="waypoint_follower_node" name="waypoint_follower" output="screen">
  
  </node>
  
  
  <!-- Display on RVIZ. -->
  <group if="true">
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find waypoint_follower_tutorials)/config/rviz1.rviz">
      <remap from="move_base_simple/goal" to="/add_waypoint"/>
    </node>
  </group>  
  
</launch>
