<?xml version="1.0"?>
<!-- This example uses predefined waypoint locations, entered as GPS locations. -->
<launch>

  <!-- Creates a Jackal in Gazebo. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="false"/>
    <arg name="world_name"   value="$(find multi_jackal_tutorials)/worlds/empty.world"/>
  </include>
  <include file="$(find multi_jackal_base)/launch/jackal_base.launch">
    <arg name="ns"             value="jackal0"/>
    <arg name="use_move_base"  value="true"/>
    <arg name="use_global_tf"  value="false"/>
    <arg name="use_global_ekf" value="true"/>
    <arg name="gps_drift"      value="0.0000"/>
    <arg name="gps_rate"       value="1"/>
  </include>
  
  <node ns="jackal0" pkg="waypoint_follower" type="waypoint_follower2_node" name="waypoint_follower" output="screen">
    <rosparam param="waypoints">[-10, -5,
                                  10, 10,
                                   5, 12,
                                   3, 15,
                                   0,  0]</rosparam>
    <param name="odom_frame"         value="jackal0/odom"/>
    <param name="baselink_frame"     value="jackal0/base_link"/>
    <param name="lin_vel"            value="0.5"/>
    <param name="ang_vel"            value="1.5"/>
  </node>
                                       
  <!-- Display on RVIZ. -->
  <group if="true">
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find waypoint_follower_tutorials)/config/rviz2.rviz">
      <remap from="move_base_simple/goal" to="/jackal0/add_waypoint"/>
    </node>
  </group>  
  
</launch>
